<div class="branding">
  <i class="fa fa-book logo"></i>
  <h1>Library Management System</h1>
</div>
<ul class="choices">
  <a href="/users"><li>Users</li></a>
  <a href="/item_templates"><li>ItemTemplates</li></a>
  <a href="/items"><li>Items</li></a>
  <a href="/rentals"><li>Rentals</li></a>
  <a href="/holds"><li>Holds</li></a>
</ul>