<div class="branding">
  <i class="fa fa-book logo"></i>
  <h1>Library Management System</h1>
</div>
<form class="login">
  <input type="text" placeholder="User Id">
  <input type="password" placeholder="Password">
  <div class="flex">
    <a class="button" href="/home/dashboard">Sign Up</a>
    <a class="button" href="/home/dashboard">Log In</a>
  </div>
</form>