<div class="branding">
  <i class="fa fa-book logo"></i>
  <h1>Library Management System</h1>
</div>
<form class="login">
  <input type="text" placeholder="User Id">
  <input type="password" placeholder="Password">
  <button type="button">Sign Up</button>
  <button type="submit">Log In</button>
</form>